body {
    background-image: linear-gradient(to left, #16476A, #3B9797);
    margin: 0;
}
* {
    color: white;
}
h1 {
    margin: 0;
    padding-top: 2vh;
    text-align: center;
    font-family: Bytesized;
    font-size: 500%;
    text-shadow: black 0.1vh 0.1vh 0.5vh;
    width: auto;
    height: 10vh;
    background-image: linear-gradient(to left, #132440 , #3B9797);
    border-bottom: 1px solid white;
}

.buttons {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    gap: 5vh;
    align-items: center;
}

.buttons img {
    border-radius: 2vh;
    transition: all 1s ease;
}

.buttons img:hover {
    cursor: pointer;
    transition: all 0.5s ease;   
    border-radius: 0;
}

.rock, .paper, .scissors{
    height: 20vh;
    width: 20vh;
}

.rock:hover, .paper:hover, .scissors:hover{
    height: 30vh;
    width: 30vh;
}

.play-again-btn{
    width: auto;
    height: 20vh;
    transform: rotate(180deg);
}

.play-again-btn:hover {
    width: auto;
    height: 30vh;
    transform: rotate(360deg);
    transition: all 0.5s ease;
} 

.result-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Smooch Sans;
    font-size: 200%;
}

.score {
    margin: 0;
    background-color: #132440;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.current {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: #132440;
}

.result {
    width: 100%;
    text-align: center;
    padding-right: 2vh;
    text-shadow: black 0.1vh 0.1vh 0.5vh;
    border-radius: 10vh;
    font-family: 'Smooch Sans';
    font-size: 200%;
}

.result.red {
    color: red;
}