body {
    background-image: linear-gradient(to left, #E15249, #F6D365);
}

h1 {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50%;
}

.result-div > p{
    text-align: center;
}

button {
    width: 10vw;
    height: 5vh;
    margin: 0 0.1vh;
}

